* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Gloock', serif;
  font-family: 'Open Sans', sans-serif;
  ;
}


/* navbar start*/
/* nav{ */
/* height: auto; */
/* position: sticky; */
/* top: 0px; */
/* } */

#icon {
  width: 80px;
  border-radius: 50%
}

.nav-item {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}


.demo {
  border: 2px solid #daa520;
  border-radius: 20px;
  margin-right: 80px;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  color: black;
  background-color: #daa520;
}

/* navbar end */



/* About Section */

.About {
  width: 100%;
  /* min-height: 50vh; */
  background-color: #daa520;
  color: black;
}

.About h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: black;
  border-radius: 14px;
  text-transform: uppercase;
  margin-bottom: 23px;

}

.About p {
  line-height: 1.5;
}

.container {
  width: 100%;
  display: block;
  padding: 20px;
}

.content {
  float: right;
  width: 55%;
}

.content a {
  text-decoration: none;
}

.image-section {
  margin: 10px;
  float: left;
  width: 40%;
}

.image-section img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/* about section ends */

/* Logo Slider start */

h2 {
  text-align: center;
  padding: 0 0 70px;
  font-family: 'Gloock', serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 70px;
}

h2 span{
  color: #daa520;  
}

.client-area{
  padding: 150px 0 0;
}

.slick-slide{
  margin: 0 20px;
}

.slick-slide img{
  width: 100%;
}

.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus{
  outline: none;
}

.slick-slide{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img{
  display: block;
}

.slick-initialized .slick-slide{
  display: block;
}

.slick-loading .slick-slide{
  visibility: hidden;
}


/* Logo Slider end */


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  margin: 0%;
  height: 450px;
  background-color: #eeeff3;
  padding: 0%;
  font-size: 15px;
  line-height: 24px;
  color: black;
  width: 100%;

  /* color:#737373;*/
}

.site-footer hr {
  /* border-top-color:#bbb;*/
  border-top-color: black;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #0e0e0e;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* color:#fff;*/
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 3px
}

.site-footer a {
  color: #101010;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.instagram:hover {
  background-color: #007bb6
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}