*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gloock', serif;
    font-family: 'Open Sans', sans-serif;;
}


/* navbar start*/
#icon{
    width: 80px;
    border-radius: 50%
}

.nav-item{
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
}

.nav-item:hover{
    background-color: #daa520;
    border-radius: 18px;
    border: 2px solid black;
}


.demo{
    border: 2px solid #daa520;
    border-radius: 20px;
    margin-top: auto;
    margin-right: 80px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    background-color: #daa520;
}

.demo:hover{
    color: #daa520;
    border: 2px solid black;
    background-color: black;
}

/* navbar end */

/* slider starts */
    
.slider{
    margin: 100px;
    width: 45%;
    height: 400px;
}

.slider .text-section{
    float: right;
    width: 55%;
    margin-right: 100px;
    box-sizing: border-box;
    
}

.slider .img-section{
    float: left;
    width: 40%;
    background-image: url(./bg1.jfif);
    background-size: 100% 100%;

}

/* slider ends */

/* About Section Starts*/

.About{
    width: 100%;
    min-height: 50vh;
    background-color: #daa520;
    color: black;
}

.About h1{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: black;
    border-radius: 14px;
    text-transform: uppercase;
    margin-bottom: 23px;

}

.About p{
    line-height: 1.5;
}

.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
}

.content{
    float: right;
    width: 55%;
}

.content a{
    text-decoration: none;
}

.image-section{
    float: left;
    width: 40%;
}

.image-section img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* about section ends */
